alabaster==0.7.9
appdirs==1.4.0
argcomplete==1.4.1
argh==0.26.2
asciinema==1.3.0
Babel==2.3.4
Beaker==1.8.0
beautifulsoup4==4.5.1
blinker==1.4
bottle==0.12.9
bumpversion==0.5.3
cffi==1.7.0
chardet==2.3.0
CherryPy==6.2.0.post20160805
click==6.6
collective.checkdocs==0.2
colorama==0.3.7
colorclass==2.2.0
colour==0.1.2
cookies==2.2.1
coverage==4.2
cryptography==1.5
decorator==4.0.10
defusedxml==0.4.1
diff-match-patch==20121119
-e git+ssh://git@gitl.alsur.es:2102/alsur/djalsur-meta.git@0148b0c7312579712ea8eeb619caafb85b9b02fe#egg=djalsurmeta
Django==1.9.9
django-adminplus==0.3
django-angular==0.7.10
django-appconf==0.6
django-apptemplates==0.0.1
django-bootstrap3==6.2.2
django-braces==1.4.0
django-compressor==1.4
django-countries==3.1.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.0
django-easy-select2==1.2.12
django-filter==0.11.0
django-hosts==1.4
django-hvad==1.2.0
django-import-export==0.4.2
django-ordered-model==0.4.0
django-phonenumber-field==0.7.1
django-registration-redux==1.1
django-reversion==1.8.5
django-rosetta==0.7.4
Django-Select2==5.7.1
django-suit==0.2.12
django-tables2==0.15.0
django-widget-tweaks==1.3
djangorestframework==3.3.2
djangorestframework-xml==1.3.0
docopt==0.4.0
docutils==0.12
enum-compat==0.0.2
Flask==0.11.1
Flask-SQLAlchemy==2.1
future==0.14.3
futures==2.2.0
geopy==1.11.0
Glances==2.6.2
google-api-python-client==1.5.0
-e git+git@github.com:Nekmo/os3.git@67a7509e8129e3e1eb99ca5a1c54840aa95948fb#egg=gradale
hachoir-parser==1.3.4
hachoir3-superdesk==3.0a1.post2
hovercraft==2.2
httplib2==0.9.2
humanize==0.5.1
idna==2.1
imagesize==0.7.1
inflect==0.2.5
ipython==5.1.0
ipython-genutils==0.1.0
irc==13.3.1
itsdangerous==0.24
jaraco.classes==1.3
jaraco.collections==1.3.1
jaraco.functools==1.8.1
jaraco.itertools==1.7.1
jaraco.logging==1.3.1
jaraco.text==1.6.3
Jinja2==2.7.3
jsonfield==1.0.0
livestreamer==1.12.2
louis==3.0.0
lxml==3.6.4
Mako==1.0.4
mal==0.1.4
Markdown==2.5.2
MarkupSafe==0.23
mega.py==0.9.18
-e hg+ssh://hg@bitbucket.org/Nekmo/python-mkv@1a5f25fec7c35e63c630d4260dd2120f8a283b82#egg=mkv
more-itertools==2.2
namcap==3.2.7
ndg-httpsclient==0.4.2
nekbot==0.1.2.34
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.plugins.geo@35366a1e5e8f972ac4580b193b1ebad6ab8a22ef#egg=nekbot.plugins.geo
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.plugins.polls@ff8af2669fd0e90457dba732a2f2b418c9f4c9bd#egg=nekbot.plugins.polls
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.plugins.random@f737c35b7c51e24c5c701b2a22c3253ca9646924#egg=nekbot.plugins.random
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.plugins.urls@7f6a6c67093bfb342855753109a94ee56b6701b7#egg=nekbot.plugins.urls
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.plugins.userscommands@24689e0f2b930793c878c5b2d7f3725a7d66d95f#egg=nekbot.plugins.userscommands
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.plugins.weather@41c1550cdc18c87fa311bb2213efd3826682efe8#egg=nekbot.plugins.weather
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.protocols.irc@4014bbfa257281d633034fa617009dbd23c70054#egg=nekbot.protocols.irc
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.protocols.telegram@817db317b3c21d20dae9b798962286f86fdee41b#egg=nekbot.protocols.telegram
-e hg+ssh://hg@bitbucket.org/Nekmo/nekbot.protocols.xmpp@b96882b966a65659b179bbaabd7c0c44b7594586#egg=nekbot.protocols.xmpp
netifaces==0.10.4
newspaper==0.0.9.8
oauth2client==3.0.0
oauthlib==2.0.0
-e git+git@github.com:Nekmo/os3.git@67a7509e8129e3e1eb99ca5a1c54840aa95948fb#egg=os3
packaging==16.7
path.py==8.2.1
pathtools==0.1.2
pexpect==4.2.1
phonenumbers==7.0.2
pickleshare==0.7.4
Pillow==3.3.1
pluggy==0.4.0
plumbum==1.6.2
ply==3.9
polib==1.0.4
prompt-toolkit==1.0.3
protobuf==3.0.0b2
psutil==4.3.1
ptyprocess==0.5.1
py==1.4.31
pyalpm==0.8
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyChromecast==0.7.2
pycodestyle==2.0.0
pycparser==2.14
pycrypto==2.6.1
pyelftools==0.24
pyflakes==1.2.3
pyftpdlib==1.5.0
Pygments==2.0.2
pyinotify==0.9.6
pymongo==3.3.0
pyOpenSSL==16.1.0
pyparsing==2.1.9
pyserial==3.1.1
pyTelegramBotAPI==2.1.2
python-akismet==0.2.1
python-forecastio==1.3.4
python-sane==2.8.2
pytz==2015.7
pyxdg==0.25
PyYAML==3.11
pyzmq==15.2.0
regex==2016.8.27
requests==2.10.0
requests-oauthlib==0.6.2
responses==0.5.1
rsa==3.4.2
simple-monitor-alert==0.1.0
simplegeneric==0.8.1
simplejson==3.6.5
six==1.10.0
sleekxmpp==1.3.1
snowballstemmer==1.2.1
solid-i18n==0.5.1
speedtest-cli==0.3.4
Sphinx==1.2.3
sphinx-rtd-theme==0.1.9
SQLAlchemy==1.0.14
sqlparse==0.1.14
stevedore==1.17.1
svg.path==2.2
tablib==0.10.0
tabulate==0.7.5
team==1.0
telejson==0.1.0.1
-e hg+ssh://hg@bitbucket.org/Nekmo/python-telejson@8853a6907fe78d9288a8133b8ae8f9fb9fd190f7#egg=telejson_installer
tempora==1.4
terminaltables==3.0.0
tornado==4.4.1
tox==2.4.1
traitlets==4.3.1
treelib==1.3.5
uritemplate==0.6
urllib3==1.17
urwid==1.3.1
VideoConverter==1.1.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
-e hg+ssh://hg@bitbucket.org/Nekmo/virtualenvwrapper.nekbot@359a72ce3eed5877c984a0d6130c49881bb6cdba#egg=virtualenvwrapper.nekbot
watchdog==0.8.3
wcwidth==0.1.7
Werkzeug==0.11.10
youtube-dl==2016.9.11.1
zeroconf==0.17.4
