{% extends "polls/base.html" %}
{% load cms_tags %}

{% block title_page %}{{ question.question_text }}{% endblock %}

{% block content_title %}
    {% render_model_block question %}
    <h1>{{ question.question_text }}</h1>
    {% endrender_model_block %}
{% endblock %}

{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Vote" />
    </form>
{% endblock %}
