{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
        <link rel="stylesheet" type="text/css" href="{% static "libs/bootstrap/dist/css/bootstrap.min.css" %}" />
        {% block extrastyle %}{% endblock %}
        {% block extrahead %}{% endblock %}
    {% endblock %}
</head>
<body>
    <div id="container">
    {% block container %}
        <div id="content" class="container">
            {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
            {% block content %}{% endblock %}
            {% block sidebar %}{% endblock %}
        </div>
    {% endblock %}
    </div>
    {% block script %}
        {% block extrascript %}
        {% endblock %}
    {% endblock %}
</body>
</html>